Extraction Functions from Kaggle script

https://www.kaggle.com/alvations/how-to-get-parallel-sentences-from-tatoeba

In [1]:
from pathlib import Path

In [2]:
path = Path('data/irish/parallel_corpora/tatoeba')

In [3]:
import pandas as pd
sent_details = pd.read_csv(path/'sentences_detailed.csv', 
                           sep='\t', header=None, error_bad_lines=False)
sent_details = sent_details.rename(columns={0:'Sentence id', 1:'Lang',  2:'Text', 
                                            3:'Username', 4:'Date added', 
                                            5:'Date last modified'})
sent_details.head()

,Sentence id,Lang,Text,Username,Date added,Date last modified
0,1,cmn,我們試試看！,sysko,\N,0000-00-00 00:00:00
1,2,cmn,我该去睡觉了。,fucongcong,\N,0000-00-00 00:00:00
2,3,cmn,你在干什麼啊？,sysko,\N,0000-00-00 00:00:00
3,4,cmn,這是什麼啊？,Martha,2008-09-08 09:20:59,0000-00-00 00:00:00
4,5,cmn,今天是６月１８号，也是Muiriel的生日！,Zifre,\N,0000-00-00 00:00:00

In [4]:
links = pd.read_csv(path/'links.csv', sep='\t', header=None, error_bad_lines=False)
links = links.rename(columns={0:'Sentence id',1:'Translation id'})
links.head()

   Sentence id  Translation id
0            1            1276
1            1            2481
2            1            5350
3            1            5972
4            1          180624

In [14]:
sent_details.loc[sent_details.Lang == 'gle'].merge()

,Sentence id,Lang,Text,Username,Date added,Date last modified
533175,557291,gle,Cá bhfuil críochfort na mbus?,niq,2010-10-10 13:17:41,2010-10-10 13:17:41
533182,557299,gle,"Nuair a dhúisigh mé, bhí brón orm.",niq,2010-10-10 13:20:49,2010-10-10 13:20:49
533403,557533,gle,Tosaíonn an t-oideachas sa bhaile.,niq,2010-10-10 14:39:19,2010-10-10 14:39:19
533445,557579,gle,Táim i ngrá leat.,niq,2010-10-10 14:48:53,2010-10-25 12:30:14
533457,557591,gle,Glanaimid ár rang tar éis scoile.,niq,2010-10-10 14:52:42,2010-10-10 15:10:57
...,...,...,...,...,...,...
8335815,8760086,gle,Is í mo mhúinteoir í.,\N,2020-05-13 22:00:53,2020-05-13 22:00:57
8335820,8760091,gle,Is deargbhréagadóir é Donald Trump.,\N,2020-05-13 22:03:16,2020-05-13 22:03:22
8344246,8769355,gle,Leí.,SemperAutumnus,2020-05-17 19:57:01,2020-05-17 19:57:42
8349234,8774385,gle,Beidh Londain go hiontach amáireach.,radubradu,2020-05-19 19:11:38,2020-05-19 19:11:38
8480588,8908400,gle,D'fhoghlaimíomar an foréigean uaibh.,\N,2020-07-11 09:40:53,2020-07-11 09:41:07

In [17]:
dd = pd.merge(sent_details.loc[sent_details.Lang == 'gle'], links, left_on='Sentence id', right_on='Sentence id')

In [18]:
dd.head()

,Sentence id,Lang,Text,Username,Date added,Date last modified,Translation id
0,557291,gle,Cá bhfuil críochfort na mbus?,niq,2010-10-10 13:17:41,2010-10-10 13:17:41,35406
1,557299,gle,"Nuair a dhúisigh mé, bhí brón orm.",niq,2010-10-10 13:20:49,2010-10-10 13:20:49,1361
2,557299,gle,"Nuair a dhúisigh mé, bhí brón orm.",niq,2010-10-10 13:20:49,2010-10-10 13:20:49,1137735
3,557299,gle,"Nuair a dhúisigh mé, bhí brón orm.",niq,2010-10-10 13:20:49,2010-10-10 13:20:49,2314399
4,557533,gle,Tosaíonn an t-oideachas sa bhaile.,niq,2010-10-10 14:39:19,2010-10-10 14:39:19,19122

In [23]:
ee = pd.merge(dd, sent_details, left_on='Translation id', right_on='Sentence id')
df_fin = ee[['Sentence id_x','Text_x','Sentence id_y','Lang_y','Text_y']]
df_fin = df_fin.loc[df_fin.Lang_y == 'eng']
df_fin.columns = ['ga_id', 'ga', 'en_id', 'en_l', 'en']
df_fin = df_fin[['ga_id', 'ga', 'en_id', 'en']]
print(len(df_fin))
df_fin.head()

1976

,ga_id,ga,en_id,en
0,557291,Cá bhfuil críochfort na mbus?,35406,Where is the bus terminal?
1,557299,"Nuair a dhúisigh mé, bhí brón orm.",1361,"When I woke up, I was sad."
4,557533,Tosaíonn an t-oideachas sa bhaile.,19122,Education starts at home.
6,557579,Táim i ngrá leat.,1434,I love you.
7,934942,Tá grá agam duit.,1434,I love you.

In [25]:
df_fin.to_csv(path/'tatoeba_en-ga.csv', index=False)

In [ ]:
# lol_tatoeba = []
# for idx, row in links.iterrows():
#     src_idx, trg_idx = row['Sentence id'], row['Translation id']
#     try:
#         src = sent_details[sent_details['Sentence id']==src_idx][['Text', 'Lang']].iloc[0]
#         trg = sent_details[sent_details['Sentence id']==trg_idx][['Text', 'Lang']].iloc[0]
#     except:
#         continue
#     lol_tatoeba.append([src_idx, trg_idx, src['Lang'], trg['Lang'], src['Text'], trg['Text']])

# df_tatoeba = pd.DataFrame(lol_tatoeba)
# df_tatoeba.rename(columns={0:'SRC ID', 1:'TRG ID', 2:'SRC LANG', 3:'TRG LANG', 
#                           4:'SRC', 5:'TRG'}, inplace=True)
# df_tatoeba.to_csv('tatoeba-sentpairs.tsv', sep='\t')

# # Renaming it for 
# parallel_sents = df_tatoeba
# df_tatoeba.head()